/* aqui vamos a definir estilos  variables que se reilicen en todo el sitio. */

:root {
  --blanco: #F2F2F2;
  --negro: #011510;
  --negro-2: #042018;

  --negro-2-transparente: #04201880;

  --naranja: #D95103;
  --naranja-N: #4E382C;
  --morado: #7342D9;
  --azul: #2C61A5;


 --font-primary: "lilita one";
 --font-secondary: "Martel sans";

 --space-small: 16px;
 --space-normal: 24px;
 --space-medium: 32px;
}

body {
font-family: var(--font-secondary );
background-color: var(--blanco);
color: var(--blanco);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.8rem;
}

button {
  cursor: pointer;
}

section {
  margin-bottom: var(--space-medium);
}

/* buttons */

.button-primary {
  display: flex;
  font-family: var(--font-secondary);
  font-weight: 900;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  background-color: var(--naranja);
  color: var(--blanco);
  border-radius: 32px;
  text-transform: uppercase;
  font-size: .95rem;
  transition: background-color .5s ease;
}

.button-primary:hover {
  color: var(--blanco);
  background-color: var(--azul);
}

.button-secundary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  background-color: var(--negro);
  color: var(--blanco);
  border-radius: 32px;
  text-transform: uppercase;
  font-size: .95rem;
  transition: background-color .5s ease;
}


.button-secundary:hover {
  color: var(--negro);
  background-color: var(--blanco);
}


/* section characters */


/* characteres */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}