/* 
estilos personalizados

aqui vaos a estilar todas las secciones, sus contenidos y el responsive
*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small);

  background-color: var( --negro-2-transparente);
  backdrop-filter: blur(6px);
}

.navbar-logo {
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: var(--space-small);
  gap: var(--space-medium);
}

.navbar-menu a {
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.navbar-menu a:hover {
  color: var(--azul);
}


/* hero */

.hero {
  height: 100vh;
  min-height: 700px;
  background-image: url("../assets/image/newto\ fondo.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.hero-content {
  width: 50%;
}

.h1-img {
  width: 80%;
}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: var(--space-medium);
  max-width: 80%;
}

.hero-actions {
  display: flex;
  gap: var(--space-small);
  margin-bottom: var(--space-medium);
  
}

.hero-icons {
  display: flex;
  gap: var(--space-small);
  cursor: pointer;
}

/* section characters */


/* characteres */

.characteres {
  background-color: var(--blanco);
  color: var(--negro);
  padding: 1rem;
}



/* header secction */

.characters-header {
  margin-bottom: 1rem;
}



/* content section */

.character-content {
  display: flex;
  align-items: center;
}



 /* thumbnails */

.characters-thumbnail {
  width: 50%;
}

.thumbnail-item {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0.6);
   transition: filter 0.3seg ease;
}

.thumbnail-item:hover {
  filter: brightness(1);
}

.thumbnail-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-medium);
}



/* showcase */

.characters-showcase {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}

.caracter-image {
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.character-info {
  text-align: center;
  
}

/* Media */

.media {
  text-align: center;
  margin-bottom: var(--space-medium);
  color: var(--negro);
  
}

.carrusel {
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

.carrusel-track {
  display: flex;
  justify-content: center;
  gap: var(--space-medium);
  margin-bottom: var(--space-medium);
  padding: var(--space-small); 
}

.carrusel-item {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  color: var(--blanco);
}

.carrusel-item img {
  width: 100%;
  height: auto;

  filter: brightness(0.6);
  transition: filter 0.3s ease;
}

.carrusel-item:hover img {
  filter: brightness(1);
}

.carrusel-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  cursor: pointer;
}

.carrusel-item:hover span{
  color: var(--negro);
}



.carrusel-controls button {
  color: var(--negro);
}

.carrusel-controls button:hover {
  color: var(--azul);
}

.carrusel-controls span {
  font-size: 3rem;
}



/* about */

.about {
  background: 
  /* capas */

  /* layer 1 */ linear-gradient(90deg, rgba(114, 66, 217, 0.6) 0%, rgba(4, 32, 24, 0.6) 100%),
  /* separa por comas */ 
  /* layer 2 */ url(../assets/image/about/fondo-about.png) center center no-repeat;
  background-size: cover;
}

.about > div {
  display: flex;
  padding: var(--space-medium);
}

.about-image,
.about-content {
  width: 50%;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 240px;
  min-width: 200px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content h2,
.about-content p {
  color: var(--blanco);
}