/* 
estilos personalizados

aqui vaos a estilar todas las secciones, sus contenidos y el responsive
*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small);
}

.navbar-menu {
  display: flex;
  gap: var(--space-medium);
}

.navbar-menu a {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.navbar-menu a:hover {
  color: var(--pink);
}


/* hero */

.hero {
  height: 100vh;
  min-height: 700px;
  background-image: url("../assets/image/newto\ fondo.png");
  background-size: cover;
  background-position: center;
  color: var(--ligth);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.hero-content {
  width: 50%;
}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: var(--space-medium);
  max-width: 80%;
}

.hero-actions {
  display: flex;
  gap: var(--space-small);
  margin-bottom: var(--space-medium);
}

.hero-icons {
  display: flex;
  gap: var(--space-small);
}
